-
	var data = [
		{
			posX: 920,
			posY: 650,
			background: `SoundProductions.jpg`,
			name: `Dallas, TX`,
			date: `March 10`,
			address: `6631 N Belt Line Rd #100 Irving, TX 75063`,
			phone: `800 203-5611`,
			studioLink: `https://www.soundpro.com`,
			studioName: `Sound Productions`,
			rsvp: `http://AdamAudioDallas.rsvpify.com`,
			time: `10am-noon and 2pm-4pm`,
			notes: ``,
			description: `Sound Productions is a major supplier of pro-audio, lighting and video products since 1973. We also provide backline rental and production services on a regional basis. We are well known in the industry for our high-level of professional customer service and support. Our sales team consists of industry pros with expertise in both production and installation. We speak your language, relate to your needs and constantly strive to provide the positive "Sound Pro” experience.`,
			credits: ``
		}, {
			posX: 950,
			posY: 760,
			background: `WireRoadStudios.jpg`,
			name: `Houston, TX`,
			date: `March 13`,
			address: `901 W 20th St. Houston, TX 77008`,
			phone: `713-636-9772`,
			studioLink: `http://www.wireroadstudios.com`,
			studioName: `Wire Road`,
			rsvp: `http://AdamAudioHouston.rsvpify.com`,
			time: `4-8pm`,
			notes: ``,
			description: `Wire Road Studios, Houston’s newest full-service music and audio recording facility, features world- class studios designed by the renowned Russ Berger Design Group of Dallas, Texas. Wire Road Studios design objective was to ensure that the layout and acoustics would set a new standard for the Houston recording industry and meet or exceed those of the top studios in the country.`,
			credits: `History Channel, Netflix, OWN, CNBC`
		}, {
			posX: 880,
			posY: 760,
			background: `ArlynStudios.jpg`,
			name: `Austin, TX`,
			date: `March 14-17`,
			address: `200 Academy Drive, Suite 140, Austin, TX 78704`,
			phone: `512 447-2337`,
			studioLink: `http://arlynstudios.com/`,
			studioName: `Arlyn Studios`,
			rsvp: `http://adamaudioaustin.rsvpify.com/`,
			time: `Daily Happy Hour from 4-6pm`,
			notes: `During SXSW Conference, Food and Drinks provided!`,
			description: `Arlyn Studios was built and designed by Steve Durr & Associates in 1984 and is owned and operated by partners Lisa and Freddy Fletcher, Will Bridges, and T Murphey. The 7,000 square foot facility occupies a portion of the historic Austin Opera House in the heart of downtown Austin. Arlyn offers three distinct studio spaces and one of the best equipment lists in the country, featuring a one-of-a-kind vintage NEVE/API hybrid console and a Solid State Logic 4048 G+.`,
			credits: `Andre 3000, Arctic Monkeys, Bonnie Raitt, Dr. John, Ray Charles`
		}, {
			posX: 1430,
			posY: 780,
			background: `AudioVision.jpg`,
			name: `Miami, FL`,
			date: `March 29`,
			address: `13385 West Dixie Highway, North Miami, FL 33161`,
			phone: `305.893.9191  Contact cell: 305-321-4565 (Ron)`,
			studioLink: `http://audiovisionstudios.com/index.asp`,
			studioName: `AudioVision`,
			rsvp: `http://adamaudiomiami.rsvpify.com/`,
			time: `4-8pm`,
			notes: ``,
			description: `Audio Vision founders Howard Albert, along with his brother Ron Albert, have forged a formidable record production/engineering career that spans over 40 years. The Albert brothers have over 40 gold records along with about 30 or so platinum records to their name. Today even with the increase utilization of digital technology Audio Vision Recording Studios is still considered one of the best recording studios in the South Florida area.`,
			credits: `Crosby Stills and Nash, John Cougar Mellencamp, Mink DeVille, Betty Wright, and Pure Prairie League`
		}, {
			posX: 1390,
			posY: 740,
			background: `PlushStudios.jpg`,
			name: `Orlando, FL`,
			date: `March 31 / April 1`,
			address: `1255 Belle Ave, Suite 164 Winter Springs, FL 32708`,
			phone: `(407) 695-4484`,
			studioLink: `http://plushrecordingstudios.com/`,
			studioName: `Plush Studios`,
			rsvp: `http://adamaudioorlando.rsvpify.com/`,
			time: `March 31, 5-9pm and April 1, 10am-2pm`,
			notes: ``,
			description: `Orlando's Multi-Platinum, GRAMMY Winning Recording Studio.`,
			credits: `Atlantic Records, Busta Rhymes, Chris Brown, Columbia Records, Flo Rida, Justin Bieber, Keyshia Cole, Lil Wayne, Mandy Moore, Paramore, Scott Storch`
		}, {
			posX: 1270,
			posY: 570,
			background: `Patchwerk.jpg`,
			name: `Atlanta, GA`,
			date: `April 3`,
			address: `1094 Hemphill Ave NW, Atlanta, GA 30318`,
			phone: `(404) 874-9880`,
			studioLink: `http://www.patchwerk.com/`,
			studioName: `Patchwerk Studios`,
			rsvp: `http://AdamAudioAtlanta.rsvpify.com`,
			time: `4-8pm`,
			notes: ``,
			description: `With over 21 years worth of gold & platinum records under its belt, Patchwerk Recording Studios is Atlanta’s premier recording facility. Positioned among the major three record labels Universal, Sony, and Warner, we have built our brand on quality, customer service, professionalism, and innovation. Over the years we have expanded our reach into the areas of education and entertainment, hosting numerous events and programs that have aided artists in the advancement their careers.`,
			credits: `Beyonce, Britney Spears, Cee-Lo, Diddy, Jay-Z, John Legend, Mariah Carey`
		}, {
			posX: 300,
			posY: 370,
			background: `25thStreet.jpeg`,
			name: `Oakland, CA`,
			date: `April 3`,
			address: `426 25th St, Oakland, CA 94612`,
			phone: `(510) 788-4089`,
			studioLink: `http://25thstreetrecording.com/`,
			studioName: `25th ST Recording`,
			rsvp: `http://AdamAudioHouston.rsvpify.com`,
			time: `4-8pm`,
			notes: ``,
			description: `25th Street Recording is the Bay Area’s best music recording studio. We give you the best sound in the most ideal creative setting available anywhere. Located in downtown Oakland California, 25th Street Recording features the best new and classic equipment, analog and digital. Our commitment to our clients and the music, makes 25th Street Recording the only choice for recording music in the Bay Area.`,
			credits: ``
		}, {
			posX: 305,
			posY: 410,
			background: `HydeStreet.jpg`,
			name: `San Francisco`,
			date: `April 4`,
			address: `245 Hyde St. San Francisco, CA 94102`,
			phone: `(415)-441-8934`,
			studioLink: `http://www.hydestreet.com/`,
			studioName: `Hyde Street Studios`,
			rsvp: `http://AdamAudioSanFrancisco.rsvpify.com`,
			time: `4-8pm`,
			notes: ``,
			description: `Hyde Street Studios is proud to be the longest running multi-room recording studio in the Bay Area.`,
			credits: `Jimi Hendrix, Bob Mould, Train, Earth Wind & Fire, Cake, Green Day, Joe Satriani, Chris Isaac`
		}, {
			posX: 350,
			posY: 170,
			background: `JackpotRecording.jpg`,
			name: `Portland, OR`,
			date: `April, 6`,
			address: `2420 SE 50th Ave. Portland, OR 97206`,
			phone: `503-239-5389`,
			studioLink: `http://jackpotrecording.com/`,
			studioName: `Jackpot! Recording`,
			rsvp: `http://AdamAudioHouston.rsvpify.com`,
			time: `4-8pm`,
			notes: ``,
			description: `Portland Oregon's favorite recording studio since 1997. Tape and Digital and beyond. Owner Larry Crane (also founder and editor of Tape Op Magazine) has utilized his knowledge of recording to create a unique and full-featured studio that is available for an affordable price. Many talented engineers and producers from Portland and all over the world have worked at Jackpot!`,
			credits: `Eddie Vedder, The Decemberists, R.E.M., Sonic Youth, Spoon, The Shins`
		}, {
			posX: 395,
			posY: 75,
			background: `OrbitAudio.jpg`,
			name: `Seattle, WA`,
			date: `April 7`,
			address: `219 1st Avenue South, Seattle, WA 98104`,
			phone: `(206) 381-1244`,
			studioLink: `http://orbitaudiorocks.com/`,
			studioName: `Orbit Audio`,
			rsvp: `http://AdamAudioSeattle.rsvpify.com`,
			time: `5-9pm`,
			notes: `Cocktail reception (Happy Friday!)`,
			description: `A premiere recording and mixing studio in Seattle. Macklemore and Ryan Lewis's "The Heist" is Orbit Audio’s first certified platinum record. Since its beginning Orbit Audio has had one goal: to make better records. No matter where you are on your musical journey, you are always welcome here with respect and appreciation.`,
			credits: `Macklemore, Ryan Lewis, Alabama Shakes, Jay-Z`
		}, {
			posX: 395,
			posY: 35,
			background: `RobertLangStudios.jpeg`,
			name: `Shoreline, WA`,
			date: `April 8 (Saturday)`,
			address: `19351 23rd Avenue Northwest, Shoreline, WA 98177-2901`,
			phone: `(510) 788-4089`,
			studioLink: `http://www.robertlangstudios.com/`,
			studioName: `Robert Lange Studios`,
			rsvp: `http://AdamAudioSHORLINE.rsvpify.com`,
			time: `11am-3pm`,
			notes: ``,
			description: `Robert Lang Studios was founded in 1974 and is located in Seattle, Washington, just 15 minutes north of downtown. The studio resides in Richmond Beach on a beautiful hillside overlooking Puget Sound and the Olympic Mountains, and is one of the oldest recording studios in the Northwest. The Spanish-styled villa has all the facilities necessary for recording artists and their accompanying staff. We like to record all genres of music, big or small projects, local or national. We just love what we do, and are here for you!`,
			credits: `Alice in Chains, Damian Marley, Dave Grohl, Imogene Heap, Nirvana`
		}, {
			posX: 1265,
			posY: 305,
			background: `RoyalHouseRecording.jpg`,
			name: `Detroit, MI`,
			date: `April 12`,
			address: `Address given upon RSVP completion`,
			phone: `-`,
			studioLink: `http://www.royalhouserecording.com`,
			studioName: `Royal House Recording`,
			rsvp: `http://AdamAudioDetroit.rsvpify.com`,
			time: `4-8pm`,
			notes: ``,
			description: `Royal House Recording is one of the premiere World Class studios in America, featuring a spacious SSL Duality SE control room, complete with a top selection of monitors and a plethora of both new and vintage outboard gear. A full stock of microphones is provided, from such companies as Royer, Neumann, AKG and Schoeps. The facility houses expansive live recording spaces, alongside such amenities as a chef’s kitchen and dining room, elegant lounge and media center, full gym, basketball court, and outdoor patio with firepit.`,
			credits: ``
		}, {
			posX: 1165,
			posY: 325,
			background: `ChicagoRecordingCompany.jpeg`,
			name: `Chicago, IL`,
			date: `April 13-14`,
			address: `232 E OHIO ST, CHICAGO, IL 60611`,
			phone: `(312) 822-9333`,
			studioLink: `http://www.chicagorecording.com/`,
			studioName: `Chicago Recording Company (CRC)`,
			rsvp: `http://AdamAudioChicago.rsvpify.com`,
			time: `April 13, 4-8pm and April 14, 11am-2pm`,
			notes: ``,
			description: `Chicago Recording Company is the largest independent recording studio in the country. Founded in 1975, it has been the career genesis of many of the most recognized engineers, both in music and post, from Hollywood to New York. CRC has one of the largest engineering talent pools under one roof. Ten senior engineers (with an average experience level of 25 years), ten assistant engineers (with an average experience level of 7 years) and five producers guarantees a level of service and unparalleled engineering expertise.`,
			credits: `Firestone, McDonald’s, Ace Hardware, Chance the Rapper, Lady Gaga`
		}, {
			posX: 1440,
			posY: 390,
			background: `OmegaStudios.jpg`,
			name: `DC Area`,
			date: `April 18`,
			address: `12712 Rock Creek Mill Road #14A, Rockville, MD 20852`,
			phone: `(301) 230-9100`,
			studioLink: `https://omegastudios.com/`,
			studioName: `Omega`,
			rsvp: `http://adamaudiodc.rsvpify.com/`,
			time: `4-8pm`,
			notes: ``,
			description: `Omega Recording Studios’ Rockville Maryland location is minutes from metropolitan Washington DC and boasts full service recording facilities for projects ranging from full orchestra sessions to voice over sessions. With over thirty years in the music industry, Omega can take your project through all the stages of recording, mixing, editing, and mastering, and deliver superior results. Omega Studios is one of the oldest and largest recording studios in the United States. We are also a Nationally- Accredited Audio Engineering School.`,
			credits: `Prince, Tori Amos, Elton John, Third Eye Blind, Aretha Franklin, Little Richard`
		}, {
			posX: 1510,
			posY: 340,
			background: `EastsideSound.jpg`,
			name: `Manhattan Lower East Side, NY`,
			date: `April 19`,
			address: `150 Forsyth St, New York, NY 10002`,
			phone: `(212) 226-6365`,
			studioLink: `www.eastsidesound.com`,
			studioName: `Eastside Sound`,
			rsvp: `http://AdamAudioLES.rsvpify.com`,
			time: `4-7pm`,
			notes: ``,
			description: `5-times Grammy Nominated and 3-times Grammy Award winning engineer and producer Marc Urselliis the chief sound engineer at EastSide Sound and has been providing his services at EastSide Sound for almost 20 years!`,
			credits: `Lou, Reed, Laurie Anderson, John Zorn, Courtney Love, Luther Vandross, The BlackCrowes, The Beach Boys, Simple Minds, Sting, Joss Stone, Les Paul, Eric Clapton, Jeff Back,Vincenzo Pastano, Buddy Guy, Richie Sambora, Billy Gibbons, Johnny Rzeznick, Peter Frampton,Joan Osbourne, Joe Bonamassa, Neil Shoan and many more`
		}, {
			posX: 1550,
			posY: 340,
			background: `LogCabin.jpg`,
			name: `Manhattan Midtown, NY`,
			date: `April 19`,
			address: `311 W 34TH ST, NEW YORK, NY, 10001`,
			phone: `212.695.6600`,
			studioLink: `http://www.mcpstudios.com/thelogcabin/`,
			studioName: `Manhattan Center “Log Cabin"`,
			rsvp: `http://AdamAudioMidtown.rsvpify.com`,
			time: `noon-3pm`,
			notes: ``,
			description: `Located in the heart of New York City and in the historic ManhattanCenter, Manhattan Center Productions specializes in providingproduction services to clients with high expectations.  MCP offerstwo HD Television Studios, two acclaimed Recording Studios, aSound Stage for film scores and all of the production supportneeded to fulfill clients visions`,
			credits: `Aaliyah,  Justin  Timberlake,  Aerosmith,  Lenny  Kravitz,Bon  Jovi,  Katie  Melua,  Bjork,  Missy  Elliott,  Branford  Marsalis,  PeteRock,  Buju  Banton,  Shakira,  Dave  Matthews,  Sheryl  Crow,  DavidBowie, Staind`
		}, {
			posX: 1550,
			posY: 280,
			background: `ArlynStudios.jpg`,
			name: `New York, NY`,
			date: `April 20`,
			address: `-`,
			phone: `-`,
			studioLink: `-`,
			studioName: `-`,
			rsvp: `-`,
			time: `-`,
			notes: ``,
			description: `-`,
			credits: ``
		}, {
			posX: 1590,
			posY: 340,
			background: `GermanoStudios.jpg`,
			name: `Manhattan Germano Studios, NY`,
			date: `April 21`,
			address: `676 Broadway, 3rd Floor, New York, NY  10012`,
			phone: `212 260-6001`,
			studioLink: `http://www.germanostudios.com`,
			studioName: `Germano Studios`,
			rsvp: `http://AdamAudioManhattan.rsvpify.com`,
			time: `3-6pm`,
			notes: ``,
			description: `The roster of artist's who have recorded at the studios is a veritable who'swho of the music business: John Lennon, The Rolling Stones, Stevie Wonder, PaulSimon, U2, Madonna, Bruce Springsteen, Michael Jackson, Luciano Pavarotti,Andrea Bocelli, Beyonce Knowles, Sting, Peter Gabriel, Talking Heads, Neil Young,Lenny Kravitz, Alicia Keys, Eric Clapton, Sade, David Bowie, Joan Jett, R.E.M., FrankSinatra, Tears For Fears, Celine Dion, Miles Davis, Mariah Carey, Seal, WhitneyHouston, Jay Z, Mary J. Blige, Natalie Cole, Luther Vandross, Tom Petty, Billy Joel,Tony Bennett, The Eagles, Blondie, Hall and Oates, Bob Dylan, John Mellencamp,Billy Idol, Robert Palmer, Jessica Simpson, Will Smith, Julio Iglesias, Nelly, BritneySpears, B.B. King, Notorious BIG, Run DMC, Kiss, Foreigner, Aerosmith, Squeeze,Bryan Ferry, Pete Townshend and Keith Richards`,
			credits: ``
		}, {
			posX: 1515,
			posY: 295,
			background: `BunkerStudio.jpg`,
			name: `Brooklyn, NY`,
			date: `April 22`,
			address: `400 S 2nd St, Brooklyn, NY 11211`,
			phone: `(718) 302-2439`,
			studioLink: `http://www.thebunkerstudio.com/`,
			studioName: `The Bunker`,
			rsvp: `http://ADAMAudioBrooklyn.rsvpify.com`,
			time: `3-8pm`,
			notes: ``,
			description: `The Bunker Studio is a 3000 square foot recording studio in Williamsburg, Brooklyn NYC that is owned and operated by producer/musicians John Davis and Aaron Nevezie. We are committed to preserving the art and science of analog recording and mixing, and understand the needs of musicians in terms of sound, space, and sightlines. The Bunker was built to avoid the clinical and sterile feel that many high end studios have, yet to offer a quality of acoustics, instrument, microphone, and gear choices far beyond the reaches of a typical home studio.`,
			credits: `Punch Brothers, The Roots, The Black Keys`
		}, {
			posX: 1570,
			posY: 230,
			background: `MadOakStudios.jpg`,
			name: `Boston, MA`,
			date: `April 24`,
			address: `390 Cambridge ST, Allston, MA 02134`,
			phone: `857 205-4279`,
			studioLink: `http://www.madoakstudios.com/`,
			studioName: `Mad Oak Studios`,
			rsvp: `http://AdamAudioHouston.rsvpify.com`,
			time: `4-8pm`,
			notes: ``,
			description: `We Make Records. Mad Oak is Allston's finest recording studio, run by Craig Riggs and Benny Grotto.`,
			credits: ``
		}, {
			posX: 1530,
			posY: 240,
			background: `MixOneStudios.png`,
			name: `Boston, MA`,
			date: `April 25`,
			address: `1260 Boylston St Suite 204 Boston, MA 02215`,
			phone: `617-536-6767`,
			studioLink: `http://www.mixonestudios.com/`,
			studioName: `Mix One Studios`,
			rsvp: `http://AdamAudioMixOne.rsvpify.com`,
			time: `3-6pm`,
			notes: `The whole block uses the address 1260, so to gain access to the building use the call boxlocated next to the glass doors directly across from Guitar Center's entrance, between GNCand the mattress store.  The studio is on the 2nd floor, and there is an elevator to movegear.  If you have any issues finding the entrance you can always reach us by phone at (617)536-6767.`,
			description: `Mix One Studios, a full service audio production company offering post production and musicrecording services.`,
			credits: ``
		}, {
			posX: 350,
			posY: 520,
			background: `WestlakePro.png`,
			name: `Los Angeles, CA Universal City`,
			date: `April 25`,
			address: `4101 Lankershim Blvd, Universal City, CA 91602`,
			phone: `323 845-1145`,
			studioLink: `https://westlakepro.com/`,
			studioName: `Westlake Pro`,
			rsvp: `http://adamaudiowestlakepro.rsvpify.com/`,
			time: `4-8pm`,
			notes: ``,
			description: `Through the years, Westlake Pro has evolved from a small sales division above Westlake RecordingStudios into one of the leading pro audio retailers in the world. In an industry dominated by big boxstores with impersonal customer service, Westlake Pro has managed to create it’s own identity andstand out from the pack with their experienced and knowledgeable sales staff, commitment tocustomer service, highest quality technical services, and relationships with top brands.`,
			credits: ``
		}, {
			posX: 430,
			posY: 520,
			background: `Henson.jpg`,
			name: `Hollywood`,
			date: `April 26`,
			address: `1416 La Brea, Hollywood, CA 90028`,
			phone: `323 856-6680`,
			studioLink: `http://www.hensonrecording.com/`,
			studioName: `Henson Studios`,
			rsvp: `http://adamaudiohollywood.rsvpify.com/`,
			time: `4-8pm`,
			notes: ``,
			description: `Henson Recording Studios, in the heart of Hollywood at the former A&M Studios, is one of the musicindustry's top recording facilities known for its world-class blend of state of the art and vintageequipment. Since 2000, Henson Recording Studios has continued the legacy of technical expertiseand excellent service founded at this location by Herb Alpert and Jerry Moss in 1966. With fivestudios capable of meeting the needs of the industry's most discerning clientele, Henson RecordingStudios features a seasoned, dedicated staff of technical engineers as well as the ability to drawfrom a diverse pool of highly qualified engineers. Additionally, the Studio's support staff takes pridein anticipating and exceeding clients' needs with professionalism and discretion. Highlights from theStudio's prolific and legendary credits include Whipped Cream & Other Delights (Herb Alpert'sTijuana Brass), Tapestry (Carole King), Blue (Joni Mitchell), Rock & Roll (John Lennon), A Kind ofHush(The Carpenters), We Are The World (USA for Africa).`,
			credits: ``
		}, {
			posX: 390,
			posY: 465,
			background: `TheBridgeRecording.jpg`,
			name: `Glendale, CA`,
			date: `April 26`,
			address: `736 Salem Street, Glendale, CA  91203`,
			phone: `323 856-6680`,
			studioLink: `http://thebridgerecording.com`,
			studioName: `The Bridge Recording`,
			rsvp: `http://AdamAudioGlendale.rsvpify.com`,
			time: `4-7pm`,
			notes: ``,
			description: `Since opening our doors in August, 2010, The Bridge Recording has hosted over 400television shows, over 300 films, and hundreds of music, video game, trailer music, and medialibrary music recording sessions.`,
			credits: ``
		}, {
			posX: 390,
			posY: 520,
			background: `VintageKing.jpg`,
			name: `Los Angeles, CA`,
			date: `April 27`,
			address: `1176 W SUNSET BLVD. LOS ANGELES, CA 90012`,
			phone: `213.984.4000`,
			studioLink: `http://vintageking.com/`,
			studioName: `Vintage King LA`,
			rsvp: `http://AdamAudioVintageKing.rsvpify.com`,
			time: `2-8pm`,
			notes: ``,
			description: `Vintage King Los Angeles offers a studio-like environment which affords visitors the chance to try out a huge selection of the finest equipment available. We operate by appointment, so we can give you a personal, uninterrupted experience with the gear you want to hear.`,
			credits: ``
		}, {
			posX: 350,
			posY: 465,
			background: `BedrockRecording.jpg`,
			name: `Echo Park`,
			date: `April 28`,
			address: `1623 Allesandro Street, Los Angeles, CA 90026`,
			phone: `-`,
			studioLink: `http://www.bedrock.la/`,
			studioName: `Bedrock`,
			rsvp: `-`,
			time: `4-8pm`,
			notes: ``,
			description: `Our recording studios are magical places headed up by veteran chief engineer Eric Rennaker, who has bravely accepted the grand challenge of continuing to improve our facility and does a fantastic job of keeping everything in tip top shape while busting out a ton of great recordings. Our client list is a wide array of everything you can think of. Artists ranging from Vanaprasta, Olin & the Moon, Fitz & the Tantrums, Edward Sharpe and even Weird Al Yankovic's #1 album "Mandatory Fun`,
			credits: `Vanaprasta, Olin & the Moon, Fitz & the Tantrums, Edward Sharpe`
		}, {
			posX: 430,
			posY: 465,
			background: `NRGStudios.jpg`,
			name: `North Hollywood, CA`,
			date: `April 28`,
			address: `11128 Weddington ST.  North Hollywood, CA 91601`,
			phone: `818 760-7841`,
			studioLink: `www.nrgrecording.com`,
			studioName: `NRG Recording`,
			rsvp: `http://AdamAudioHollywood.rsvpify.com`,
			time: `4-8pm`,
			notes: ``,
			description: `Celebrating 30 years of being a recording industry leader, NRG Recording Studios hasworked with some of the world's best artists and has had great success with hundreds ofalbums over the years. NRG Recording owner & award winning Producer/Mix Engineer,Jay Baumgardner (Bush, Papa Roach, Drowning Pool, Evanescence, etc), has redefinedwhat a recording studio should be, a private and safe haven for artists, and a place tofocus on what they do best, create great music.`,
			credits: ``
		}
	];